<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Home</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
  <style>
    body {
      background-color: #15202b;
      color: #ffffff;
      height: 100vh;
    }

    .navbar {
      background-color: #192734
    }

    .navbar-item {
      color: #ffffff;
    }

    .title {
      color: #ffffff;
    }

    .card {
      background-color: #243447;
      color: #ffffff;
    }

    .card-content {
      background-color: #182630;
    }

    .input,
    .textarea {
      background-color: #192734;
      color: #ffffff;
      border-color: #38444d;
    }

    .button.is-primary {
      background-color: #1da1f2;
      color: #ffffff;
    }

    .button.is-primary:hover {
      background-color: #0c8bd6;
    }

    .notification.is-danger {
      background-color: #192734;
      color: #ffffff;
      border-color: #bf3b53;
    }
  </style>
</head>
<body>
    
    {{{ body }}}

</body>
</html>
{{!-- <script src="../../static/login.js"></script> --}}
